<!--tabella per amministratori webapp-->

<table class="table table-striped">
  <thead>
    <tr>
    <!--nomi delle varie colonne-->
      <th scope="col">id</th>
      <th scope="col">Immagine</th>
      <th scope="col">Destinazione</th>
      <th scope="col">Numero Ospiti</th>
      <th scope="col">Stelle Hotel</th>
      <th scope="col">Tipologia Pensione</th>
      <th scope="col">Prezzo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
  </tbody>
</table>